# Lab X.x.x: -DataSet

In [4]:
import pandas as pd
import numpy as np
from typing import List

import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
def print_unique(df):
    unique_values = {col: df[col].unique() for col in df.columns}
    for column, values in unique_values.items():
        print(f"Unique values in column '{column}': {values}")
        
def drop_cols(df: pd.DataFrame, cols_to_drop: List[str]):
    return df.drop(columns=cols_to_drop)

def convert_year_week_to_date(year_week):
    # Extract year and week from the input
    if isinstance(year_week, int):
        year_week_str = str(year_week)
    else:
        year_week_str = year_week
    year = int(year_week_str[:4])
    week = int(year_week_str[4:])
    # Get the first day of the week (Monday) for the given year and week
    first_date = datetime.strptime(f'{year}-W{week}-1', "%Y-W%W-%w").date()
    return first_date

In [3]:
df = pd.read_excel('lab_data.xlsx')
print(df.columns)
display(df.head(2))

Index(['X1.1', 'X1.2', 'X1.3', 'X1.4', 'X3'], dtype='object')

   X1.1  X1.2  X1.3  X1.4  X3
0     1     1     1     1   3
1     1     1     1     2   2

In [5]:
df = pd.read_excel('lab_data.xls', engine='xlrd')
print(df.columns)
display(df.head(2))

*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
Index(['X', 'Y'], dtype='object')

     X    Y
0  609  241
1  629  222

In [6]:
df = pd.read_csv('lab_data.csv')
print(df.columns)
display(df.head(2))

Index(['Unnamed: 0', 'Card', 'Tip', 'Ad', 'Joke', 'None'], dtype='object')

   Unnamed: 0  Card  Tip  Ad  Joke  None
0           1   NaN    1   0     0     1
1           2  Joke    1   0     1     0