In [5]:
import pandas as pd

In [4]:
df = pd.DataFrame({'id': [1, 2, 3], 'age': [44, 55, 69], 'name': ['a', 'b', 'c'], 'score': [165, 165, 165]})
df.describe()

        id        age  score
count  3.0   3.000000    3.0
mean   2.0  56.000000  165.0
std    1.0  12.529964    0.0
min    1.0  44.000000  165.0
25%    1.5  49.500000  165.0
50%    2.0  55.000000  165.0
75%    2.5  62.000000  165.0
max    3.0  69.000000  165.0

In [4]:
a = [[1,2,3], [4, 5, 6]]
print(a[:][1])
print(a[1][1])

[4, 5, 6]
5

In [1]:
!python --version

Python 3.8.10

In [19]:
df = pd.DataFrame({'id': [1, 2, 3], 'age': [44, 55, 69], 'name': ['a', 'b', 'c'], 'score': [165, 165, 165]})
df[(df['age'] > 65) & (df['score'] == 165)]

   id  age name  score
2   3   69    c    165

In [9]:
import pandas as pd

moves = pd.DataFrame([
    [1, 1, 'O'],
    [2, 1, 'X'],
    [2, 2, 'O'],
    [2, 3, 'X'],
    [3, 1, 'X'],
    [3, 3, 'O']
], columns=['i', 'j', 'move'])

# Create an empty 3x3 board
board = [[' ' for _ in range(3)] for _ in range(3)]

# Populate the board with moves
for idx, row in moves.iterrows():
    i = row['i'] - 1  # Adjust indices to 0-based
    j = row['j'] - 1
    board[i][j] = row['move']

# Print the board in a user-friendly format
for row in board:
    for i, m in enumerate(row):
        print(m, end="")
        if i < len(row):
            print("|", end="")
    print("")

O| | |
X|O|X|
X| |O|

In [6]:
moves.pivot(columns='i', index='j', values='move').fillna('')

i  1  2  3
j
1  O  X  X
2     O
3     X  O

In [11]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Select row 1 and all columns
df.iloc[1] 

# Select rows 0 and 1, and columns 0 and 1
df.iloc[0:2, 0:2]

   A  B
0  1  4
1  2  5

In [12]:
df['A'] > 2

0    False
1    False
2     True
Name: A, dtype: bool

In [6]:
(1==1 or 2)

True